
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.submitButton {
  margin: 2px 1%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #FF0092;
}

.submitButton:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.submitButton:hover,
.submitButton:focus {
  color: #FF0092;
  background-color: white;
}
