@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Roboto');

.App {
  text-align: center;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-weight: 200;
  font-size: 64px;
  color: #FF0092;
  margin: 1%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #313640;
  font-weight: bold;
  color: #FF0092;
}

/* credit to George-Payne's codepen for below grid */
.grid{
  top: -400px;
  bottom: -400px;
  left: -400px;
  right: -400px;
  position: absolute;
  z-index: -1;
  opacity: 0.5;

  background-color: #313640;
  background-image: linear-gradient(#FF0092 1px, transparent 2px),
  linear-gradient(90deg, #FF0092 1px, transparent 2px);
  background-size:3% 3%, 3% 3%;
  background-position:0 0, 0 0;

  transform: perspective(300px) rotateX(80deg);
}
