@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Roboto');

.App {
  text-align: center;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-weight: 200;
  font-size: 64px;
  color: #FF0092;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #313640;
  font-weight: bold;
  color: #FF0092;
}

/* credit to George-Payne's codepen for below grid */
.grid{
  top: -400px;
  bottom: -400px;
  left: -400px;
  right: -400px;
  position: absolute;
  z-index: -1;
  opacity: 0.5;

  background-color: #313640;
  background-image: linear-gradient(#FF0092 1px, transparent 2px),
  linear-gradient(90deg, #FF0092 1px, transparent 2px);
  background-size:3% 3%, 3% 3%;
  background-position:0 0, 0 0;

  transform: perspective(300px) rotateX(80deg);
}


.portal {
  animation: portal-spin infinite 20s linear;
  width: 20%;
}

.beholder {
  width: 20%;
  animation: emerge 5s;
}

.beholdertwo {
  width: 20%;
  animation: emerge2 5s;
}

.beholderthree {
  width: 20%;
  animation: emerge3 5s;
}

.beholderfour {
  width: 20%;
  animation: emerge4 5s;
}

.beholderfive {
  width: 20%;
  animation: emerge5 5s;
}

.beholdersix {
  width: 20%;
  animation: emerge6 5s;
}

@keyframes portal-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes emerge {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes emerge2 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes emerge3 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes emerge4 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes emerge5 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes emerge6 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
