.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.letterBox {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.letter {
  padding: 10px;
  margin: 0 auto;
}

.portal {
  animation: portal-spin infinite 20s linear;
}

@keyframes portal-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
