.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.letterBox {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.letter {
  padding: 10px;
  margin: 0 auto;
}

.portal {
  animation: portal-spin infinite 20s linear;
  width: 20%;
}

.beholder {
  width: 20%;
  animation: emerge 5s;
}

.beholdertwo {
  width: 20%;
  animation: emerge2 5s;
}

.beholderthree {
  width: 20%;
  animation: emerge3 5s;
}

.beholderfour {
  width: 20%;
  animation: emerge4 5s;
}

.beholderfive {
  width: 20%;
  animation: emerge5 5s;
}

.beholdersix {
  width: 20%;
  animation: emerge6 5s;
}

@keyframes portal-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes emerge {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes emerge2 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes emerge3 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes emerge4 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes emerge5 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes emerge6 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
